<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tampilkan User</title>
  </head>
  <body>
    <a href="/register">Tambah User</a>

    <table border="1">
      <thead>
        <tr>
          <th>Judul</th>
          <th>Genre</th>
          <th>Rated</th>
          <th>Jumlah Episode</th>
          <th>Main Cast 1</th>
          <th>Main Cast 2</th>
        </tr>
      </thead>

      <tbody>
        <% users.forEach((user) => { %>
            <tr>
            <td><%= user.judulDrama %></td>
            <td><%= user.genre %></td>
            <td><%= user.rated %></td>
            <td><%= user.episode %></td>
            <td><%= user.mainCast1 %></td>
            <td><%= user.mainCast2 %></td>
            </tr>
        <% }) %> 
        </tbody>
    </table>
  </body>
</html>
